@font-face {
  font-family: 'JostVariable';
  src: url('~../../fonts/Jost-Variable.woff2') format('woff2');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Jost';
  src: url('~../../fonts/Jost-400-Book.woff2') format('woff2'),
       url('~../../fonts/Jost-400-Book.woff') format('woff');
  font-weight: 400; 
}
@font-face {
  font-family: 'Jost';
  src: url('~../../fonts/Jost-800-Heavy.woff2') format('woff2'),
       url('~../../fonts/Jost-800-Heavy.woff') format('woff');
  font-weight: 800; 
}

$color__branding-primary: #000;

* {
	margin: 0;
}

body {
	font-family: 'Jost';
	font-size: 1em;
	color: $color__branding-primary;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 6rem 1fr 2rem;
	grid-template-areas: ". header title title title title title";
	grid-template-columns: [main-start] 4rem [content-start] repeat(auto-fill, minmax(10rem, 1fr)) [content-end] 4rem [main-end]; 
	grid-gap: 1rem;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'JostVariable', sans-serif;
    font-variation-settings: "wght" 400;
  }
}

#__next, main, article {
	display: contents;
}

.site-header {
	grid-column-start: content-start;
}

h1 {
	grid-column: 3 / content-end;
}

section {
	grid-column: content;
}

/*Toggletip*/
.tooltip-container {
  position: relative;
}

.tooltip-container button {
  width: 2rem;
}

.toggletip-bubble {
  position: absolute;
  left: 50%;
  top: calc(100% + 12px);
  transform: translateX(-50%);
  background-color: green;
  padding: 1rem;
  overflow-y: scroll;
}

.toggletip-bubble::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 12px 9px;
  border-color: transparent transparent green transparent;
  position: absolute;
  top: -12px;
}

.toggletip-bubble.toggle-right {
  left: 0%;
  transform: translateX(0%);
}

.toggletip-bubble.toggle-left {
  left: 100%;
  transform: translateX(-100%);
}

.toggle-right.toggletip-bubble::before {
  left: 6px;
}

.toggle-left.toggletip-bubble::before {
  right: calc(1rem - 9px);
}

.toggle-center.toggletip-bubble::before {
  left: calc(50% - (1rem - 6px));
}

.toggletip-bubble.toggle-top {
  transform: translateY(calc(-100% + -12px));
  top: 0;
}

.toggletip-bubble.toggle-top::before {
  bottom: -12px;
  top: initial;
  transform: rotate(180deg);
}