@font-face {
  font-family: 'JostVariable';
  src: url('~../../fonts/Jost-Variable.woff2') format('woff2');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Jost';
  src: url('~../../fonts/Jost-400-Book.woff2') format('woff2'),
       url('~../../fonts/Jost-400-Book.woff') format('woff');
  font-weight: 400; 
}
@font-face {
  font-family: 'Jost';
  src: url('~../../fonts/Jost-800-Heavy.woff2') format('woff2'),
       url('~../../fonts/Jost-800-Heavy.woff') format('woff');
  font-weight: 800; 
}

* {
	margin: 0;
}

body {
  --color__branding-primary: #000;
	font-family: 'Jost';
	font-size: 1em;
	color: var(--color__branding-primary);
	min-height: 100vh;
	display: grid;
	grid-template-rows: 6rem 1fr 2rem;
	grid-template-areas: ". header title title title title title";
	grid-template-columns: [main-start] 4rem [content-start] repeat(auto-fill, minmax(10rem, 1fr)) [content-end] 4rem [main-end]; 
	grid-gap: 1rem;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'JostVariable', sans-serif;
    font-variation-settings: "wght" 400;
  }
}

#__next, main, article {
	display: contents;
}

.site-header {
	grid-column-start: content-start;
}

h1 {
	grid-column: 3 / content-end;
}

section {
	grid-column: content;
}

/*Modal*/
.modal-wrapper {
  position: fixed;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto,40rem) minmax(1rem, 1fr);
  grid-template-rows: minmax(1rem, 1fr) minmax(min-content, auto) minmax(1rem, 1fr);
  height: 100%;
  width: 100%;
}

.modal {
  z-index: 2;
  background-color: #fff;
  grid-column: 2/3;
  grid-row: 2/3;
  max-height: 80vh;
  overflow-x: hidden;
}

.modal-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
}

.modal-overlay {
  background-color: rgba(0,0,0, .7);
  z-index: 1;
  grid-column: 1/end;
  grid-row: 1/end;
}