@font-face {
	font-family: 'Pathway Extreme';
	src: url('./fonts/pathway-extreme.ttf') format('truetype');
	font-weight: 1 9999;
	unicode-range: U+0020-007e, U+00a0-00be;
}

:root {
	--color-action: #870069;
	--color-foreground: #000;
	--color-background: #fff;
}

body {
	color: var(--color-foreground);
	background-color: var(--color-background);
	font-family: 'Pathway Extreme', sans-serif;
}

@supports (font-variation-settings: normal) {
	body {
		font-size: 18px;
		font-weight: 50;
		font-variation-settings: 'wdth' 90, 'opsz' 18;
	}

	h1, h2, h3, h4, h5, h6, strong {
		font-weight: 120;
		font-variation-settings: "wdth" 5;
		margin: 0;
	}
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
	body {
		--color-foreground: #fff6db;
		--color-background: #131115;
	}
}

a {
	color: var(--color-action);
}